In [48]:
import pandas as pd

In [49]:
wapo= pd.read_csv('/Users/LiVi/opt/anaconda3/envs/cap2/policekillings/cap2_policekillings/data/raw/fatal-police-shootings-data.csv')

In [50]:
wapo.tail()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
5423,5931,Henry Barnes,2020-06-19,shot,undetermined,25.0,M,NaN,Jay,OK,False,attack,Foot,False
5424,5941,Cody W. Cook,2020-06-19,shot,gun,24.0,M,W,Sodus,NY,False,attack,Not fleeing,True
5425,5940,Michael Torres,2020-06-20,shot,machete,35.0,M,NaN,Lake Charles,LA,False,attack,Not fleeing,False
5426,5939,TK TK,2020-06-21,shot,knife,19.0,M,NaN,Milpitas,CA,False,attack,Not fleeing,False
5427,5938,TK TK,2020-06-22,shot,gun,NaN,M,NaN,Aurora,CO,False,attack,Not fleeing,True

## For some reason I thought 'gun and vehicle' was too confusing to classify as gun or vehicle, so i just dropped these rows:

In [51]:
wapo[wapo['armed']=='gun and vehicle']

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
3643,3990,Fabian Ortiz Adame,2018-08-27,shot,gun and vehicle,25.0,M,W,Phoenix,AZ,False,attack,Car,False
3964,4374,Geoffrey Morris,2019-01-10,shot,gun and vehicle,29.0,M,W,Wichita,KS,False,attack,Car,False
4526,4934,Jose Mendez,2019-08-09,shot,gun and vehicle,37.0,M,H,Kansas City,MO,False,attack,Foot,False
4575,5002,Rene Enrique Ruiz,2019-08-30,shot,gun and vehicle,51.0,M,H,Tolleson,AZ,False,attack,Other,False
4705,5476,Cameron Bennett,2019-10-17,shot,gun and vehicle,22.0,M,B,Fayette,MS,False,attack,Car,False
4711,5219,Terry Countryman,2019-10-19,shot,gun and vehicle,34.0,M,W,Palestine,TX,False,attack,Other,False
4821,5485,Nicholas Cantelmi,2019-11-28,shot,gun and vehicle,31.0,M,W,Jim Thorpe,PA,False,attack,Other,False
4831,5233,Yemerson Melendez,2019-12-01,shot,gun and vehicle,16.0,M,H,Fort Pierce,FL,False,attack,Other,False
4902,5317,Richard Ruiz,2019-12-23,shot,gun and vehicle,38.0,M,H,Phoenix,AZ,False,attack,Car,False
5197,5704,Austin Hines,2020-04-01,shot,gun and vehicle,19.0,M,W,Columbus,MS,False,attack,Car,False

In [52]:
gunand = wapo[(wapo['armed']=='gun and vehicle')]
wapo = wapo.drop(index = gunand.index)

In [53]:
wapo[wapo['armed'].str.contains('gun|vehicle|knife|unarmed|unknown|undetermined')==False].head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
9,17,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,B,Knoxville,PA,False,attack,Not fleeing,False
16,32,James Dudley Barker,2015-01-08,shot,shovel,42.0,M,W,Salt Lake City,UT,False,attack,Not fleeing,True
50,99,Tiano Meton,2015-01-22,shot,toy weapon,25.0,M,B,Sierra Blanca,TX,False,attack,Car,False
70,346,Matautu Nuu,2015-01-28,shot and Tasered,hammer,35.0,M,A,Stockton,CA,True,attack,Not fleeing,False

# One-hot encoded all armed_with categories

In [54]:
wapo['armed_gun'] = wapo['armed'].str.contains('gun') == 1
wapo['armed_vehicle'] = wapo['armed'].str.contains('vehicle') == 1
wapo['armed_knife'] = wapo['armed'].str.contains('knife') == 1
wapo['armed_unknown'] = (wapo.armed.str.contains('unknown|undetermined')) == 1
wapo['unarmed'] = wapo.armed.str.contains('unarmed') == 1
wapo['untraditional_weapon'] = (wapo['armed'].str.contains('gun|vehicle|knife|unarmed|unknown|undetermined')==False) ==1

In [55]:
wapo.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,True,False,False,False,False,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,True,False,False,False,False,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,False,False,False,False,True,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,False,False,False,False,False,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,True,False,False,False,False,False

In [56]:
wapo = wapo.dropna()

In [57]:
wapo = wapo.drop(columns = ['id','name','date','city','state'])

In [58]:
wapo.columns

Index(['manner_of_death', 'armed', 'age', 'gender', 'race',
       'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera',
       'armed_gun', 'armed_vehicle', 'armed_knife', 'armed_unknown', 'unarmed',
       'untraditional_weapon'],
      dtype='object')

In [59]:
wapo['blackhispanic'] = wapo['race'].str.contains('B|H')
other = wapo.loc[:,['gender','manner_of_death','threat_level','flee']]
w = pd.concat((wapo, pd.get_dummies(other)), axis=1)

In [60]:
cols = ['gender','manner_of_death','armed','threat_level','flee']
w = w.drop(columns = cols)

# MODEL 1: Kept Blackhispanic, dropped race

In [61]:
cols = ['race']
w = w.drop(columns = cols)

In [62]:
pd.options.display.max_colwidth = 999
pd.options.display.max_rows = 999
list(w.columns)

['age',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'blackhispanic',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

In [63]:
w.head()

,age,signs_of_mental_illness,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,blackhispanic,gender_F,gender_M,manner_of_death_shot,manner_of_death_shot and Tasered,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other
0,53.0,True,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0
1,47.0,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0
2,23.0,False,False,False,False,False,False,True,False,True,0,1,0,1,0,1,0,0,0,1,0
3,32.0,True,False,False,False,False,False,False,True,False,0,1,1,0,1,0,0,0,0,1,0
4,39.0,False,False,True,False,False,False,False,False,True,0,1,1,0,1,0,0,0,0,1,0

In [64]:
import turicreate
sf = turicreate.SFrame(w)

In [65]:
feats = ['age',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

In [66]:
train_data,test_data = sf.random_split(.8,seed=0)
race_model = turicreate.logistic_classifier.create(train_data,target='blackhispanic', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 3527

Number of classes           : 2

Number of feature columns   : 20

Number of unpacked features : 20

Number of coefficients      : 21

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.015941     | 0.632265          | 0.652826            |

| 2         | 3        | 0.034315     | 0.628296          | 0.650519            |

| 3         | 4        | 0.060995     | 0.628296          | 0.650519            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

In [67]:
race_model.evaluate

<bound method LogisticClassifier.evaluate of Class                          : LogisticClassifier

Schema
------
Number of coefficients         : 21
Number of examples             : 3527
Number of classes              : 2
Number of feature columns      : 20
Number of unpacked features    : 20

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 3
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 0.0893

Settings
--------
Log-likelihood                 : 2249.3032

Highest Positive Coefficients
-----------------------------
(intercept)                    : 1.0776
body_camera                    : 0.4118
threat_level_undetermined      : 0.3443
untraditional_weapon           : 0.3167
unarmed                        : 0.2828

Lowest Negative Coefficients
----------------------------
signs_of_mental_illness        : -0.7491
gender_F                       : -0.5694
flee_Car                       : -0.0714
flee_Not fleeing               : -0.0424
age                            : -0.0385
>

In [68]:
race_model.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int

 Rows: 100001

 Data:
 +-----------+-----+-----+-----+-----+
 | threshold | fpr | tpr |  p  |  n  |
 +-----------+-----+-----+-----+-----+
 |    0.0    | 1.0 | 1.0 | 392 | 475 |
 |   1e-05   | 1.0 | 1.0 | 392 | 475 |
 |   2e-05   | 1.0 | 1.0 | 392 | 475 |
 |   3e-05   | 1.0 | 1.0 | 392 | 475 |
 |   4e-05   | 1.0 | 1.0 | 392 | 475 |
 |   5e-05   | 1.0 | 1.0 | 392 | 475 |
 |   6e-05   | 1.0 | 1.0 | 392 | 475 |
 |   7e-05   | 1.0 | 1.0 | 392 | 475 |
 |   8e-05   | 1.0 | 1.0 | 392 | 475 |
 |   9e-05   | 1.0 | 1.0 | 392 | 475 |
 +-----------+-----+-----+-----+-----+
 [100001 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [69]:
sf['predicted_black'] = race_model.predict(sf, output_type = 'probability')

In [70]:
w['predicted_black'] = race_model.predict(sf, output_type = 'probability')

In [71]:
pd.options.display.max_columns = 999
w.sort_values(by='predicted_black', ascending=False).loc[:,['blackhispanic','predicted_black']].head()

      blackhispanic  predicted_black
1725           True         0.828453
3985           True         0.825977
1850          False         0.823958
974            True         0.822916
2284           True         0.820107

# MODEL 2: Just Blackhispanic and White (no Asian, NatAm, Other), No Age-Group Cols

In [72]:
wapo.head()

,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,flee,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,blackhispanic
0,shot,gun,53.0,M,A,True,attack,Not fleeing,False,True,False,False,False,False,False,False
1,shot,gun,47.0,M,W,False,attack,Not fleeing,False,True,False,False,False,False,False,False
2,shot and Tasered,unarmed,23.0,M,H,False,other,Not fleeing,False,False,False,False,False,True,False,True
3,shot,toy weapon,32.0,M,W,True,attack,Not fleeing,False,False,False,False,False,False,True,False
4,shot,nail gun,39.0,M,H,False,attack,Not fleeing,False,True,False,False,False,False,False,True

In [73]:
mask = wapo['race'].str.contains('A|O|N|H')
wapo2 = wapo[~mask]
wapo2.head()

,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,flee,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,blackhispanic
1,shot,gun,47.0,M,W,False,attack,Not fleeing,False,True,False,False,False,False,False,False
3,shot,toy weapon,32.0,M,W,True,attack,Not fleeing,False,False,False,False,False,False,True,False
5,shot,gun,18.0,M,W,False,attack,Not fleeing,False,True,False,False,False,False,False,False
7,shot,gun,35.0,M,W,False,attack,Not fleeing,False,True,False,False,False,False,False,False
8,shot,unarmed,34.0,F,W,False,other,Not fleeing,True,False,False,False,False,True,False,False

In [80]:
wapo2['blackhispanic'] = wapo2['race'].str.contains('B|H')
other = wapo2.loc[:,['gender','manner_of_death','threat_level','flee']]
w2 = pd.concat((wapo2, pd.get_dummies(other)), axis=1)
cols = ['gender','manner_of_death','armed','threat_level','flee','race']
w2 = w2.drop(columns = cols)
w2.head()

/Users/Livi/opt/anaconda3/envs/cap2/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,age,signs_of_mental_illness,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,blackhispanic,gender_F,gender_M,manner_of_death_shot,manner_of_death_shot and Tasered,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other
1,47.0,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0
3,32.0,True,False,False,False,False,False,False,True,False,0,1,1,0,1,0,0,0,0,1,0
5,18.0,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0
7,35.0,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0
8,34.0,False,True,False,False,False,False,True,False,False,1,0,1,0,0,1,0,0,0,1,0

In [75]:
feats = ['age',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

sf = turicreate.SFrame(w2)
train_data,test_data = sf.random_split(.8,seed=0)
race_model = turicreate.logistic_classifier.create(train_data,target='blackhispanic', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 2736

Number of classes           : 2

Number of feature columns   : 20

Number of unpacked features : 20

Number of coefficients      : 21

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.017141     | 0.694444          | 0.694690            |

| 2         | 3        | 0.055840     | 0.701754          | 0.702065            |

| 3         | 4        | 0.079189     | 0.702120          | 0.702065            |

| 4         | 5        | 0.091265     | 0.702120          | 0.702065            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

In [76]:
race_model.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int

 Rows: 100001

 Data:
 +-----------+-----+-----+-----+-----+
 | threshold | fpr | tpr |  p  |  n  |
 +-----------+-----+-----+-----+-----+
 |    0.0    | 1.0 | 1.0 | 226 | 452 |
 |   1e-05   | 1.0 | 1.0 | 226 | 452 |
 |   2e-05   | 1.0 | 1.0 | 226 | 452 |
 |   3e-05   | 1.0 | 1.0 | 226 | 452 |
 |   4e-05   | 1.0 | 1.0 | 226 | 452 |
 |   5e-05   | 1.0 | 1.0 | 226 | 452 |
 |   6e-05   | 1.0 | 1.0 | 226 | 452 |
 |   7e-05   | 1.0 | 1.0 | 226 | 452 |
 |   8e-05   | 1.0 | 1.0 | 226 | 452 |
 |   9e-05   | 1.0 | 1.0 | 226 | 452 |
 +-----------+-----+-----+-----+-----+
 [100001 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

## Not sure how to read this chart. Not sure how to visualize curve.

# MODEL 3, just BlackHispanic and White, with Age-Group Cols

In [77]:
df = w2
df['0_to_10'] = df.age <= 0
df['11_to_20'] = (df.age>10)&(df.age<21)
df['21_to_30'] = (df.age>20)&(df.age<31)
df['31_to_40'] = (df.age>30)&(df.age<41)
df['41_to_50'] = (df.age>40)&(df.age<51)
df['51_to_60'] = (df.age>50)&(df.age<61)
df['61_to_70'] = (df.age>60)&(df.age<71)
df['71_to_80'] = (df.age>70)&(df.age<81)
df['81_to_90'] = (df.age>80)&(df.age<91)
df=df.drop('age',axis=1)
df

,signs_of_mental_illness,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,blackhispanic,gender_F,gender_M,manner_of_death_shot,manner_of_death_shot and Tasered,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other,0_to_10,11_to_20,21_to_30,31_to_40,41_to_50,51_to_60,61_to_70,71_to_80,81_to_90
1,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0,False,False,False,False,True,False,False,False,False
3,True,False,False,False,False,False,False,True,False,0,1,1,0,1,0,0,0,0,1,0,False,False,False,True,False,False,False,False,False
5,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0,False,True,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0,False,False,False,True,False,False,False,False,False
8,False,True,False,False,False,False,True,False,False,1,0,1,0,0,1,0,0,0,1,0,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413,False,False,True,False,False,False,False,False,False,0,1,1,0,0,1,0,0,0,0,1,False,False,True,False,False,False,False,False,False
5415,False,False,True,False,False,False,False,False,False,0,1,1,0,1,0,0,1,0,0,0,False,False,False,True,False,False,False,False,False
5418,False,False,True,False,False,False,False,False,True,0,1,1,0,1,0,0,0,0,1,0,False,False,False,True,False,False,False,False,False
5420,False,False,True,False,False,False,False,False,False,0,1,1,0,0,1,0,0,0,1,0,False,False,False,True,False,False,False,False,False
5424,False,True,True,False,False,False,False,False,False,0,1,1,0,1,0,0,0,0,1,0,False,False,True,False,False,False,False,False,False

In [78]:
feats = [
'0_to_10', 
'11_to_20',
'21_to_30', 
'31_to_40', 
'41_to_50', 
'51_to_60', 
'61_to_70', 
'71_to_80',
'81_to_90',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']


sf = turicreate.SFrame(df)
train_data,test_data = sf.random_split(.8,seed=0)
race_model = turicreate.logistic_classifier.create(train_data,target='blackhispanic', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 2736

Number of classes           : 2

Number of feature columns   : 28

Number of unpacked features : 28

Number of coefficients      : 29

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.022011     | 0.689327          | 0.687316            |

| 2         | 3        | 0.035333     | 0.690058          | 0.687316            |

| 3         | 4        | 0.059816     | 0.689327          | 0.688791            |

| 4         | 5        | 0.077941     | 0.689327          | 0.688791            |

| 5         | 6        | 0.093058     | 0.689327          | 0.688791            |

| 9         | 10       | 0.158089     | 0.689327          | 0.688791            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

# Based on "accuracy" as measure, the best model is No. 2

In [79]:
race_model.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int

 Rows: 100001

 Data:
 +-----------+--------------------+-----+-----+-----+
 | threshold |        fpr         | tpr |  p  |  n  |
 +-----------+--------------------+-----+-----+-----+
 |    0.0    |        1.0         | 1.0 | 226 | 452 |
 |   1e-05   |        1.0         | 1.0 | 226 | 452 |
 |   2e-05   |        1.0         | 1.0 | 226 | 452 |
 |   3e-05   | 0.995575221238938  | 1.0 | 226 | 452 |
 |   4e-05   | 0.995575221238938  | 1.0 | 226 | 452 |
 |   5e-05   | 0.995575221238938  | 1.0 | 226 | 452 |
 |   6e-05   | 0.995575221238938  | 1.0 | 226 | 452 |
 |   7e-05   | 0.9933628318584071 | 1.0 | 226 | 452 |
 |   8e-05   | 0.9933628318584071 | 1.0 | 226 | 452 |
 |   9e-05   | 0.9933628318584071 | 1.0 | 226 | 452 |
 +-----------+--------------------+-----+-----+-----+
 [100001 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}